<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.simplygraph">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_simply_graph"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_simply_graph"
        android:supportsRtl="true">

        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Piechart"
            android:theme="@style/AppTheme"/>
        <activity android:name=".PiechartDataEntry"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Linechart"
            android:theme="@style/AppTheme"/>
        <activity android:name=".LineChartDataEntry"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Multibarchart"
            android:theme="@style/AppTheme"/>
        <activity android:name=".MultiBarChartDataEntry"
            android:theme="@style/AppTheme"/>
        <activity android:name=".MathematicalFunctionsPlot"
            android:theme="@style/AppTheme"/>
        <activity android:name=".MathematicalFunctionsSelectionScreen"
            android:theme="@style/AppTheme"/>
        <activity android:name=".SecondActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>